{% extends "blog/base.html" %}

{% block content %}

    {% for post in posts%}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <div>
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <div>
                        {% if post.expiration == 1 %}
                            <small class="text-muted">Paste's duration is one day </small>
                        {% elif post.expiration == 7 %}
                            <small class="text-muted ">Paste's duration is one week </small>
                        {% elif post.expiration == 30 %}
                            <small class="text-muted">Paste's duration is one month </small>
                        {% else %}
                            <small class="text-muted">Paste's duration is one year </small>
                        {% endif %}
                    </div>
                </div>
                <h2><a class="article-title" href="{% url 'postfile-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.snippet }}</p>
                {% if  post.attachment_set.all%}
                    <h6>Files :</h6>
                    <div class="list-group">
                        {% for file in post.attachment_set.all%}
                            <a class="btn list-group-item list-group-item-light text-left" href="{{ file.file.url }}" target="_blank">{{ forloop.counter }}.   {{file.filename }}</a>
                        {% endfor %}
                        </div>
                {% endif %}
            </div>
        </article>
    {% endfor %}

{% endblock content %}

<!-- {% for file in post.attachment_set.all%}
                        
                {% endfor %} -->

<!-- 
<div class="container">
    <p >{{file.filename }}</p>
    <a href="{{ file.file.url }}" class="btn  btn-sm" target="_blank">Download</a>
  </div> -->

<!-- <div class="col-md-9">
  <p>{{file.filename }}</p>
</div> -->
<!-- <div class="col-md-12">
  <a href="{{ file.file.url }}" target="_blank" >{{file.filename}} </a>
</div> -->