{% extends "blog/base.html" %}
{% block content %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.author }}</a>
                    <div>
                        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <div>
                        {% if object.expiration == '1' %}
                            <small class="text-muted">Paste's duration is one day </small>
                        {% elif object.expiration == '7' %}
                            <small class="text-muted ">Paste's duration is one week </small>
                        {% elif object.expiration == '30' %}
                            <small class="text-muted">Paste's duration is one month </small>
                        {% else %}
                            <small class="text-muted">Paste's duration is one year </small>
                        {% endif %}
                    </div>
                    <div>
                        {% if object.author == user %}
                            <a class= "btn btn-success btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"> Update </a>
                            <a class= "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"> Delete </a>
                            <a class= "btn btn-info btn-sm mt-1 mb-1" href="{% url 'post-share' object.id %}"> Share </a>
                        {% endif %}
                    </div>
                </div>
                <h2 class="article-title">{{ object.title }}</h2>
                <p class="article-content">{{ object.content }}</p>

                {% if  object.attachment_set.all%}
                    <div class="list-group">
                        <h5>Files :</h5>
                        {% for file in object.attachment_set.all%}
                            <a class="btn list-group-item list-group-item-light text-left" href="{{ file.file.url }}" target="_blank">{{ forloop.counter }}.   {{file.filename }}</a>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </article>
{% endblock content %}