{% extends "blog/base.html" %}
{% block content %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.author }}</a>
                    <div>
                        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <div>
                        {% if object.expiration == 1 %}
                            <small class="text-muted">Paste's duration is one day </small>
                        {% elif object.expiration == 7 %}
                            <small class="text-muted ">Paste's duration is one week </small>
                        {% elif object.expiration == 30 %}
                            <small class="text-muted">Paste's duration is one month </small>
                        {% else %}
                            <small class="text-muted">Paste's duration is one year </small>
                        {% endif %}
                    </div>
                </div>
                <h2 class="article-title">{{ object.title }}</h2>
                <p class="article-content">{{ object.content }}</p>
            </div>
        </article>
{% endblock content %}